/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require grails
*= require main
*= require mobile
*= require_self
*/

* {
    margin: 0;
    padding: 0;
    border-radius: 0 !important;
}

h1, h2 {
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

.ajax-form {
    margin-bottom: 10px;
    padding: 10px;
    border: 4px #eee groove;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

div {
    padding: 0;
}

input, .list-group-item {
    padding: 0.2em 1em;
}

.popover {
    width:100%;
}

.tempvs-form-field {
    margin:0.3em 0 0.3em 0;
}

.glyphicon {
    top: 0px;
}

select:disabled {
    background: #DDD;
}

.btn {
    border: 1px #DDD solid;
}

.hovering > .glyphicon-pencil, .hovering > .fa-pencil {
    display: none;
}

.hovering:hover > .glyphicon-pencil, .hovering:hover > .fa-pencil {
    color: #AAA;
    display: inline-block;
}

.glyphicon-arrow-down, .glyphicon-arrow-up {
    cursor: pointer;
}

#overlay {
    background-image: url('/static/images/spinner.gif');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(1, 1, 1, 0.1);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.modal-dialog {
    width: inherit;
    max-width: 600px;
}

[hidden] {
    display: none !important;
}

[disabled] {
    pointer-events: none;
}

label {
     overflow: hidden;
}

main {
    margin-bottom: 35px;
}

footer {
    background-color: #fff;
    height: 35px;
}

.well {
    margin : 0px;
}

.counter {
    background-color: red !important;
    border-radius: 10px !important;
}

.fa {
    line-height: 20px;
}

.message-unread {
  background-color: #E9F9FF;
}

.popover-title {
  display: none;
}

.table-cell {
  padding: 5px;
  border: solid 1px #EEE;
}
