/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require /webjars/bootstrap/3.3.7-1/css/bootstrap.min
*= require grails
*= require main
*= require mobile
*= require_self
*/

* {
    margin: 0;
    padding: 0;
    border-radius: 0 !important;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

.image-list, form {
    margin-bottom: 10px;
    padding: 10px;
    border: 4px #eee groove;
}

img.horizontal {
    margin: 0 auto;
}

img.vertical {
    width:100%;
}

ul {
    list-style: none;
}

div {
    padding: 0;
}

input, .list-group-item {
    padding: 0.2em 1em;
}

.popover {
    width:100%;
}

.tempvs-form-field {
    margin:0.3em 0 0.3em 0;
}

.glyphicon {
    top: 0px;
}

select:disabled {
    background: #DDD;
}

.btn {
    border: 1px #DDD solid;
}
